---
// Hacer todo esto un componente de react :D
import Testimonial from "./Testimonial.astro";

const testimonials = [
	{
		name: "Anisha Li",
		image: "avatar-anisha.png",
		testimonial:
			"“Manage has supercharged our team’s workflow. The ability to	maintain visibility on larger milestones at all times keeps everyone motivated.”",
	},
	{
		name: "Ali Bravo",
		image: "avatar-ali.png",
		testimonial:
			"“We have been able to cancel so many other subscriptions since using Manage. There is no more cross-channel confusion and everyone is much more focused.”",
	},
	{
		name: "Richard Watts",
		image: "avatar-richard.png",
		testimonial:
			"“Manage allows us to provide structure and process. It keeps us organized and focused. I can’t stop recommending them to everyone I talk to!”",
	},
	{
		name: "Shanai Gough",
		image: "avatar-shanai.png",
		testimonial:
			"“Their software allows us to track, manage and collaborate on our projects from anywhere. It keeps the whole team in-sync without being intrusive.”",
	},
];
---

<section class="py-10 px-4 testimonials overflow-x-hidden">
	<div class="wrap">
		<ul class="slider flex gap-8 max-w-[1684px] mx-auto">
			{
				testimonials.map((testimonial) => (
					<Testimonial
						name={testimonial.name}
						image={testimonial.image}
						testimonial={testimonial.testimonial}
					/>
				))
			}
		</ul>
		<ul
			class="dots flex gap-2 w-full justify-center mt-10"
			id="testimonial-dots"
		>
		</ul>
	</div>
</section>
<script defer>
	const slider = document.querySelector(".slider");
	const slides = document.querySelectorAll(".slider li");
	const slideWidth = slides[0].offsetWidth;

	let counter = 0;
	const windowWidth = window.innerWidth;
	const gap = 32 / 2;
	const amountOfSlides =
		slides.length - Math.floor(windowWidth / (slideWidth + gap)) + 1;

	const dotsParent = document.querySelector(".dots");
	const dot = document.createElement("li");
	dot.classList.add(
		"w-2",
		"h-2",
		"border",
		"border-primaryBrightRed",
		"bg-white",
		"cursor-pointer",
		"rounded-full"
	);

	for (let i = 0; i < amountOfSlides; i++) {
		dotsParent.appendChild(dot.cloneNode(true));
	}

	const dots = document.querySelectorAll(".dots li");
	let timeout;
	dots.forEach((dot, index) => {
		dot.addEventListener("click", () => {
			clearTimeout(timeout);
			timeout = setTimeout(autoTransition, 5000);
			transitionTestimonial(index);
		});
	});

	const transitionTestimonial = (index) => {
		slider.style.transition = "transform 0.4s ease-in-out";
		counter = index;
		const translateWidth = windowWidth > 540 ? 540 + gap : windowWidth;
		slider.style.transform =
			"translateX(" + -translateWidth * counter + "px)";

		for (let dot of dots) {
			dot.classList.remove("bg-red");
		}
		dots[counter].classList.add("bg-red");
	};

	const autoTransition = () => {
		if (counter >= amountOfSlides - 1) {
			counter = 0;
		} else {
			counter++;
		}
		transitionTestimonial(counter);
		timeout = setTimeout(autoTransition, 5000);
	};
	autoTransition();
</script>
